django==6.1.1
django_extensions==4.1
django-cors-headers==4.9.0
django-filter==26.1
django-dbbackup==5.3.1
djangorestframework==3.18.1
drf-schema-adapter==3.0.6
gunicorn==26.2.0
uvicorn==0.53.0
psycopg2==2.9.13
rich==15.0.0
django-json-widget==2.1.1
drf-yasg==1.21.15
